<div class="form-container">
  <div class="content-holder">
    <app-dynamic-form
      [fields]="fields"
      [title]="activeStepHeader"
    ></app-dynamic-form>
    <div *ngIf="formResult && currentStep === stepLength - 1">
      <h1>Preview</h1>
      <ngx-json-viewer [json]="formResult" [expanded]="false"></ngx-json-viewer>
    </div>
  </div>
</div>
<div class="controls">
  <button class="control-button" (click)="skipPage()">SKIP</button>
  <button
    class="control-button"
    *ngIf="currentStep !== 0"
    (click)="goToPrevStep()"
  >
    BACK
  </button>
  <button
    class="control-button"
    *ngIf="currentStep < stepLength - 1"
    (click)="goToNextStep()"
  >
    NEXT
  </button>
  <button
    class="control-button"
    *ngIf="currentStep === stepLength - 1"
    (click)="submit()"
  >
    SAVE & PUBLISH
  </button>
</div>
