.main-container {
  display: flex;
  height: calc(100% - 53px);
  overflow: auto;
  overflow-x: hidden;
}

.progress-bar {
  display: flex;
  border-top: 5px solid #04c466;
}

.form-container {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.image-container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain !important;
  background-repeat: repeat-y !important;
}

.content-holder {
  background: white;
  max-width: 450px;
  width: 100%;
  padding-bottom: 60px;
}

.controls {
  position: fixed;
  background: white;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 50%;
  box-shadow: 0px -2px 12px -5px rgba(107, 105, 107, 1);
}

.content-wrapper {
  justify-content: flex-end;
  display: flex;
  flex: 1;
  background: white;
}

.control-button {
  cursor: pointer;
  color: black;
  border: none;
  min-width: 70px;
  background: white;
  font-weight: 800;
  margin: 10px;
  font-size: 13px;
  padding: 5px;
  outline: none;
  border: 1px solid black;
}

.control-button:last-child {
  color: white;
  background: #04c466;
  border: 1px solid #04c466;
}

.back-mobile {
  color: #04c466;
  display: none;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .controls {
    justify-content: center;
    height: 50px;
    align-items: center;
    flex-direction: column;
    height: 50px;
  }
  .control-button {
    margin: 0px;
    padding: 3px;
  }
  .skip {
    display: none;
  }
  .back {
    display: none;
  }
  .back-mobile {
    display: inline;
  }
}

@media only screen and (max-width: 800px) {
  .form-container {
    flex-basis: unset;
    width: 100%;
  }

  .image-container {
    display: none;
  }

  .controls {
    width: 100%;
  }

  .content-wrapper {
    justify-content: center;
  }

  .main-container {
    height: calc(100% - 103px);
  }

  .content-holder {
    padding-bottom: 0px;
  }
}
