input {
  display: none;
}

.header-container {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.upload-text {
  padding-left: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: cadetblue;
}

.label-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label-header {
  text-transform: uppercase;
  font-weight: 500;
}

.main-container {
  min-height: 70px;
}

.optional-text {
  font-size: 10px;
  padding-left: 5px;
}

.image-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.list-item-text {
  font-size: 10px;
}

.image-list:last-child {
  border-bottom: none;
}

.invalid-field {
  color: red;
}