<div class="main-container">
  <div class="header-container">
    <div
      [ngClass]="{
        'invalid-field':
          formField.hasError(
            field.validations[0] && field.validations[0].name
          ) && t.touched
      }"
    >
      <span class="label-header">{{ field.label }}</span>
      <span class="optional-text" *ngIf="!isRequired">(optional)</span>
    </div>
    <label class="label-container" [for]="field.name">
      <img
        [class.disable-view]="IsDisabled"
        height="12px"
        src="assets/ic_upload.png"
      />
      <span [class.disable-view]="IsDisabled" class="upload-text">Upload</span>
    </label>
  </div>
  <input
    [disabled]="IsDisabled"
    #fileInput
    [id]="field.name"
    type="file"
    (change)="onFileChange($event)"
    [multiple]="field.multi"
  />
  <div class="image-list" *ngFor="let image of t.controls; let i = index">
    <span class="list-item-text">{{ image.get("name").value }}</span>
    <img
      height="15px"
      src="assets/ic_delete.png"
      (click)="deleteImage(index)"
    />
  </div>
</div>
