/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #f7f7f7;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-outer-circle {
  border-color: black !important;
  border-width: 1px !important;
}

.mat-radio-inner-circle, .mat-radio-container, .mat-radio-outer-circle {
  width: 12px !important;
  height: 12px !important;
}

.mat-radio-inner-circle {
  background-color: #04c466 !important;
}

.mat-expansion-panel {
  background: #f7f7f7 !important;
  color: black !important;
}

.mat-expansion-panel-header {
  padding: 0 5px !important;
  background: #f7f7f7 !important;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  color: black !important;
  font-weight: 500;
  font-size: 13px !important;
  align-items: center;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-indicator::after {
  color: #04c466 !important;
}

.mat-menu-panel {
  background: white !important;
}

.mat-select-arrow {
  color: black !important;
}

.mat-radio-button {
  margin-left: 8px;
}

.mat-radio-label-content {
  font-size: 12px;
}

.mat-menu-item[disabled], .disable-view {
  opacity: 0.5;
  pointer-events: none;
  cursor: unset;
}

.mat-dialog-container {
  background: white !important;
  color: black !important;
}

.mat-expansion-panel-header-title {
  white-space: nowrap;
  flex-grow: 0 !important;
  user-select: none;
}