.add-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-section>* {
  cursor: pointer;
}

.more-control {
  display: flex;
  align-items: center;
}

.add-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  color: #04c466;
  margin-left: 3px;
}

.date-input {
  visibility: hidden;
  position: absolute;
}

.batch-label {
  margin-left: 5px;
  margin-right: 32px
}

.labelText {
  font-size: 12px;
  font-weight: 500
}

.batch-conatiner {
  margin-bottom: 10px;
}

button[mat-menu-item] {
  display: flex;
  align-items: center;
}

.error-border {
  border: 1px solid red !important;
}

.error-text {
  color: red !important;
}

.header-section {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.weekend {
  display: flex;
}

.multi-box {
  display: flex;
  justify-content: space-between;
}

.start-content, .end-content {
  display: flex;
  align-items: center;
  margin: 5px;
}

.date-container {
  display: flex;
  align-items: center;
  min-width: 170px;
  justify-content: space-between;
}

.locationBox {
  max-width: 150px;
  background: url(/assets/ic_chevrondropdown.png) right no-repeat;
  padding-right: 22px !important;
}

.costBox {
  max-width: 150px;
}

.language-container {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  flex: 1;
}

.cost-container {
  display: flex;
  flex-direction: column;
}

.inputText {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 13px;
}

.inputText:focus {
  outline: none;
  box-shadow: none;
}

.date-label {
  text-transform: uppercase;
  min-width: 55px;
}

@media only screen and (max-width: 450px) {
  .multi-box {
    flex-direction: column;
  }
}

.batch-error {
  right: 0px;
  color: red;
  margin: 0px;
  font-size: 10px;
  font-weight: normal;
  text-transform: initial;
}