<div class="batch-conatiner">
  <div class="header-section">
    <span style="margin-left: 5px; margin-right: 32px">batch</span
    ><span style="margin-right: 25px">start date</span><span>end date</span>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel
      [formGroup]="batch"
      *ngFor="let batch of t.controls; let i = index"
    >
      <mat-expansion-panel-header [formGroup]="batch">
        <mat-panel-title
          [ngClass]="{
            'error-text': batch.invalid && batch.touched
          }"
        >
          {{ "Batch " + (i + 1) }}</mat-panel-title
        >
        <mat-panel-description>
          <div class="date-container">
            <div class="start-content">
              <input
                style="visibility: hidden; position: absolute"
                formControlName="StartDate"
                matInput
                [matDatepicker]="picker"
              />
              <mat-datepicker #picker></mat-datepicker>
              <div
                style="display: flex"
                (click)="onEvent($event); picker.open()"
              >
                <img src="assets/ic_datepicker.png" />
                <span class="date-label">{{
                  extractDate(batch, "StartDate")
                }}</span>
              </div>
            </div>
            <div class="end-content">
              <input
                style="visibility: hidden; position: absolute"
                formControlName="EndDate"
                matInput
                [matDatepicker]="pickerEnd"
              />
              <mat-datepicker #pickerEnd></mat-datepicker>
              <div
                style="display: flex"
                (click)="onEvent($event); pickerEnd.open()"
              >
                <img src="assets/ic_datepicker.png" />
                <span class="date-label">{{
                  extractDate(batch, "EndDate")
                }}</span>
              </div>
            </div>
          </div>
          <div class="more-control" (click)="onEvent($event)">
            <img [matMenuTriggerFor]="menu" src="/assets/ic_moreoptions.png" />
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="resetBatch(batch)">
                <img width="18px" src="assets/ic_refresh.png" />
                <span style="padding-left: 5px; color: black">Reset</span>
              </button>
              <button
                [disabled]="t.controls.length === 1"
                mat-menu-item
                (click)="deleteBatch(i)"
              >
                <img src="assets/ic_delete.png" />
                <span style="padding-left: 5px; color: red">Delete</span>
              </button>
            </mat-menu>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="group-container">
        <span style="font-size: 12px; font-weight: 500">Course Location</span>
        <input
          type="text"
          class="inputText locationBox"
          placeholder="Search Location"
          formControlName="City"
          [matAutocomplete]="auto"
          [ngClass]="{
            'error-border':
              batch.get('City').errors && batch.get('City').touched
          }"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of getFilterValue(batch)"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <div class="multi-box">
          <div class="language-container">
            <span style="font-size: 12px; font-weight: 500"
              >Course Language</span
            >
            <mat-select
              [ngClass]="{
                'error-border':
                  batch.get('Language').errors && batch.get('Language').touched
              }"
              placeholder="Select Languages"
              formControlName="Language"
              multiple
            >
              <mat-select-trigger>
                {{
                  getLangControl(batch).value
                    ? getLangControl(batch).value[0]
                    : ""
                }}
                <span *ngIf="getLangControl(batch).value?.length > 1">
                  (+{{ getLangControl(batch).value.length - 1 }}
                  {{
                    getLangControl(batch).value?.length === 2
                      ? "other"
                      : "others"
                  }})
                </span>
              </mat-select-trigger>
              <mat-option
                *ngFor="let language of languageList"
                [value]="language"
                [disabled]="
                  getLangControl(batch).value?.length > 2 &&
                  !getLangControl(batch).value?.includes(language)
                "
                >{{ language }}</mat-option
              >
            </mat-select>
          </div>
          <div class="cost-container">
            <span style="font-size: 12px; font-weight: 500"
              >Course Cost (Ex GST)</span
            >
            <input
              class="inputText costBox"
              type="number"
              [ngClass]="{
                'error-border':
                  batch.get('Cost').errors && batch.get('Cost').touched
              }"
              formControlName="Cost"
              placeholder="Rs."
            />
          </div>
        </div>
        <div class="weekend">
          <span
            [ngClass]="{
              'error-text':
                batch.get('WeekendCourse').errors &&
                batch.get('WeekendCourse').touched
            }"
            style="font-size: 12px"
            >Is this a weekend course?</span
          >
          <div class="container">
            <mat-radio-group formControlName="WeekendCourse">
              <mat-radio-button value="yes">YES</mat-radio-button>
              <mat-radio-button value="no">NO</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <span class="add-section">
    <img (click)="addBatch()" height="20px" src="assets/add_arrow.png" />
    <span (click)="addBatch()" style="margin-left: 3px" class="add-text"
      >Add another course date</span
    >
  </span>
</div>
