<div class="header">
  <h2>{{ title }}</h2>
  <img class="close-button" (click)="skipPage()" src="assets/cancel.png" />
</div>
<form class="dynamic-form-container" [formGroup]="form">
  <ng-container
    dynamicField
    *ngFor="let field of fields"
    [group]="form"
    [field]="field"
  >
  </ng-container>
</form>
<div *ngIf="showError" class="error-container">
  <div class="error-content">
    <img src="assets/ic_info.png" />
    <span class="error-text">Fill in the required information to proceed.</span>
  </div>
  <img src="assets/ic_close.png" class="close-icon" (click)="closeError()" />
</div>
